body{
  background-color: rgb(19, 20, 22);
}

p{
  text-align: center;
}

h1{
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 20px;
  margin-right: 20px;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}

.box {
  padding: 2px 10px;
  background: #6d6666;
  color: #fff;
  width: 300px;
  display: table-header-group;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 210%;
  border-radius: 20px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 12px;
}

.main{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}

.container img {
    margin: 8px 0;
    width: 95%;
    border-radius: 40px;
}

.info{
    padding: 10px;
    font-size: 1.2rem;
    margin: 2px;
    line-height: 110%;
}

.fa-github, .fa-twitter, .fa-instagram {
  color: white;
  margin-left: 10px;
}

a{
  text-align: center;
  text-decoration:none;
  font-weight: bold;
}

a:hover{
  text-decoration:none;
  cursor:pointer;
}
